@use '../../../variables' as vars;

.root {
  padding: 5px;
  background-color: vars.$separate-color;
  border: 1px solid vars.$border-color;
  border-radius: 5px;
  color: vars.$contrast-text-color;
  font-size: 14px;
  font-weight: 600;
  transition: backgroud-color 0.3s ease-in translateY 0.5s linear;
  
  &:hover {
    background-color: darken(vars.$separate-color, 2%);
  }

  &:active {
    background-color: darken(vars.$separate-color, 5%);  
    transform: translateY(2px);
  }

  &.outlined {
    background-color: lighten(vars.$bg-color, 5%);
    border-color: vars.$separate-color;
    color: vars.$primary-text-color
  }
}